<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("LetsMovie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Admin", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                        else if (User.IsInRole("Seller"))
                        {
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Seller", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item">@Html.ActionLink("Home", "Index", "Customer", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link text-white" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid px-0">
        <div style="min-height: 520px;">
            @RenderBody()
        </div>
        <footer class="bg-secondary text-white mt-5 px-4 py-5">
            <p>&copy; @DateTime.Now.Year - LetsMovie</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
