@model IEnumerable<MusicStoreMVCApp.Movie>

@{
    ViewBag.Title = "Seller Home";
}

@section Scripts {
    <script>
        let selectedId;

        function modifySelectedId(id) {
            selectedId = id;
        }

        function deleteMovie() {
            $.ajax({
                url: "/Seller/DeleteMovie/" + selectedId,
                type: 'post',
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    </script>
}

<div class="p-5 bg-secondary"  style="min-height: 561px;">
    <h2>Movies / Products</h2>

    <div class="container-fluid">
        <div class="row">
            @foreach (Movie movie in Model)
            {
                <div class="col-3 card bg-dark text-white rounded-5 m-5 p-4">
                    <img src="@movie.ImageUrl" class="card-img-top rounded-3">
                    <div class="card-body d-flex flex-column justify-content-between pb-0">
                        <div class="mb-4">
                            <p class="card-text">
                                <span class="fw-bold">
                                    Genre:&nbsp;
                                </span>
                                @foreach (MovieGenre movieGenre in movie.MovieGenres)
                                {
                                    if (movieGenre != movie.MovieGenres.Last())
                                    {
                                        <span>
                                            @Html.DisplayFor(item => movieGenre.Genre.GenreType),
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @Html.DisplayFor(item => movieGenre.Genre.GenreType)
                                        </span>
                                    }
                                }
                            </p>
                            <h5 class="card-title">@movie.MovieTitle</h5>
                            <p class="card-text">@movie.Description</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="/Seller/MovieDetail/@movie.Id" class="btn btn-success me-3"><i class="fa-sharp fa-solid fa-pencil" style="color: #ffffff;"></i></a>
                            <button class="btn btn-danger" onclick="modifySelectedId(@movie.Id)" data-bs-toggle="modal" data-bs-target="#confirmDeletionModal"><i class="fa-solid fa-trash-can" style="color: #ffffff;"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDeletionModal" tabindex="-1" aria-labelledby="confirmDeletionModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmDeletionModal">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove current selected product/movie from the list? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" onclick="deleteMovie()">Yes, I confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
