@model IEnumerable<MusicStoreMVCApp.Cart>

@{
    ViewBag.Title = "Cart";
}

@section Scripts{
    <script>
        function increaseQuantity(movieId) {
            $.ajax({
                url: '/Customer/Cart',
                type: 'post',
                data: {
                    "MovieId": movieId
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function decreaseQuantity(movieId) {
            $.ajax({
                url: '/Customer/RemoveCart',
                type: 'post',
                data: {
                    "MovieId": movieId
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    </script>
}

<div class="p-5 bg-secondary" style="min-height: 561px;">
    <h2 class="mb-4 ps-3">Cart</h2>

    <div class="card">
        <div class="card-header">
            <h4>Summary</h4>
        </div>
        <div class="card-body">
            @foreach (var groupedItem in Model.GroupBy(model => model.Movie))
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @groupedItem.Key.MovieTitle
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <img src="@groupedItem.Key.ImageUrl" width="200" />
                            <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex">
                                    <p class="card-text me-3">RM @groupedItem.Key.Price</p>
                                    <p class="card-text">x @groupedItem.Count()</p>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-success btn-sm rounded-circle me-3" onclick="increaseQuantity(@groupedItem.Key.Id)" type="button">
                                        <i class="fa-solid fa-cart-plus fa-lg" style="color: #ffffff;"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm rounded-circle me-3" onclick="decreaseQuantity(@groupedItem.Key.Id)" type="button">
                                        <i class="fa-solid fa-cart-arrow-down fa-lg" style="color: #ffffff;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="card mt-4 p-3">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex flex-column mb-3">
                        <h5 class="me-5">Voucher</h5>
                        @Html.TextBox("PromoCode", null, new { @class = "form-control text-secondary", @Value = "#LETSWATCH", disabled = "disabled" })
                        <div class="small">
                            Limited time promo code <span class="text-primary">#LETSWATCH</span>,<br />Enjoy all movie for FREE
                        </div>
                    </div>
                    <div>
                        <a href="/Customer" class="btn btn-success me-2">
                            Wait, add more items
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </a>
                        <button type="submit" class="btn btn-warning">
                            Checkout
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
