@model IEnumerable<MusicStoreMVCApp.Cart>

@{
    ViewBag.Title = "Cart";
}

@section Scripts{
    <script>
        let selectedMovies = [];
        let selectedMovieIds = [];
        let total = 0;

        function increaseQuantity(movieId) {
            $.ajax({
                url: '/Customer/Cart',
                type: 'post',
                data: {
                    "MovieId": movieId
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function decreaseQuantity(movieId) {
            $.ajax({
                url: '/Customer/RemoveCart',
                type: 'post',
                data: {
                    "MovieId": movieId
                },
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }

        function checkMovie(movieId, movieTitle, price, amount) {
            if ($('#movie' + movieId).is(':checked')) {
                selectedMovies.push({
                    movieId: movieId,
                    movieTitle: movieTitle,
                    amount: amount
                });
                selectedMovieIds.push(movieId);
                total += price * amount;
                $('#totalPrice').html(total.toFixed(2));
            }
            else {
                for (let i = 0; i < selectedMovies.length; i++) {
                    if (JSON.stringify(selectedMovies[i]) == JSON.stringify({
                        movieId: movieId,
                        movieTitle: movieTitle,
                        amount: amount
                    })){
                        selectedMovies.splice(i, 1);
                    }
                }

                const index = selectedMovieIds.indexOf(movieId);
                if (index > -1) {
                    selectedMovieIds.splice(index, 1);
                }

                total -= price * amount;
                $('#totalPrice').html(total.toFixed(2));
            }

            let list = '';

            selectedMovies.forEach(selectedMovie => {
                list += '<li>'+
                            '<div class="d-flex justify-content-between">'+
                                '<p>'+selectedMovie.movieTitle+'</p>'+
                                '<p class="me-4">x'+selectedMovie.amount+'</p>'+
                            '</div>'+
                        '</li>'
            });

            $('#modal-body-ul').html(list);
        }

        function checkoutMovies() {
            $.ajax({
                url: '/Customer/Checkout',
                type: 'post',
                data: {
                    selectedMovieIds: selectedMovieIds
                },
                success: function (data) {
                    window.location.replace('/Customer/Checkout/'+data.OrderId);
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
    </script>
}

<div class="p-5 bg-secondary" style="min-height: 561px;">
    <h2 class="mb-4 ps-3">Cart</h2>

    <div class="card">
        <div class="card-header">
            <h4>Summary</h4>
        </div>
        <div class="card-body">
            @foreach (var groupedBySeller in Model.GroupBy(model => model.Movie.Seller))
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @groupedBySeller.Key.Fname @groupedBySeller.Key.Lname
                    </div>
                    <div class="card-body">
                        @foreach (var groupedByMovie in groupedBySeller.GroupBy(model => model.Movie))
                        {
                            <div class="d-flex">
                                @Html.CheckBox("movie" + groupedByMovie.Key.Id, false, new { onchange = "checkMovie(" + groupedByMovie.Key.Id + ",'" + groupedByMovie.Key.MovieTitle + "'," + groupedByMovie.Key.Price + "," + groupedByMovie.Count() + ")" })
                                <div class="card flex-grow-1 ms-3 mb-3">
                                    <div class="card-header">
                                        @groupedByMovie.Key.MovieTitle
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <img src="@groupedByMovie.Key.ImageUrl" width="200" />
                                            <div class="d-flex flex-column justify-content-between">
                                                <div class="d-flex">
                                                    <p class="card-text me-3">RM @groupedByMovie.Key.Price</p>
                                                    <p class="card-text">x @groupedByMovie.Count()</p>
                                                </div>
                                                <div class="d-flex">
                                                    <button class="btn btn-success btn-sm rounded-circle me-3" onclick="increaseQuantity(@groupedByMovie.Key.Id)" type="button">
                                                        <i class="fa-solid fa-cart-plus fa-lg" style="color: #ffffff;"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm rounded-circle me-3" onclick="decreaseQuantity(@groupedByMovie.Key.Id)" type="button">
                                                        <i class="fa-solid fa-cart-arrow-down fa-lg" style="color: #ffffff;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="card mt-4 p-3">
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex flex-column mb-3">
                        <h5 class="me-5">Voucher</h5>
                        @Html.TextBox("PromoCode", null, new { @class = "form-control text-secondary", @Value = "#LETSWATCH", disabled = "disabled" })
                        <div class="small">
                            Limited time promo code <span class="text-primary">#LETSWATCH</span>,<br />Enjoy all movie for FREE
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                            <h5 class="me-5">Total(RM)</h5>
                            <p id="totalPrice">0.00</p>
                        </div>
                    </div>
                    <div>
                        <a href="/Customer" class="btn btn-success me-2">
                            Wait, add more items
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </a>
                        <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmCheckoutModal">
                            Checkout
                            <i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmCheckoutModal" tabindex="-1" aria-labelledby="confirmCheckoutModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmCheckoutModal">Confirm your action</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to checkout following items?</p>
                    <ul id="modal-body-ul"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-warning" onclick="checkoutMovies()">Yes, proceed with checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
