@model MusicStoreMVCApp.Movie

@{
    ViewBag.Title = "Movie Details";
}

<div class="p-5">
    <div>
        <h2>Movie Details</h2>
        <div class="card shadow rounded-4 dl-horizontal mt-4 p-5">
            <img src="@Model.ImageUrl" style="width: fit-content" />
            <div class="mt-4 mb-2">
                <h5 class="m-0">Genre</h5>
                <span>
                    @foreach (MovieGenre movieGenre in Model.MovieGenres)
                    {
                        <span>
                            @Html.DisplayFor(item => movieGenre.Genre.GenreType)&nbsp;
                        </span>
                    }
                </span>
            </div>
            <div class="mb-2">
                <h5 class="m-0">Title</h5>
                @Html.DisplayFor(model => model.MovieTitle) <br />
            </div>

            <div class="mb-2">
                <h5 class="m-0">@Html.DisplayNameFor(model => model.Description)</h5>
                @Html.DisplayFor(model => model.Description) <br />
            </div>

            <div class="mb-2">
                <h5 class="m-0">@Html.DisplayNameFor(model => model.Price)</h5>
                RM @Html.DisplayFor(model => model.Price) <br />
            </div>

            <div class="mb-2">
                <h5 class="m-0">Released Year</h5>
                @Html.DisplayFor(model => model.ReleasedYear) <br />
            </div>

            <div>
                <h5 class="m-0">
                    @Html.DisplayNameFor(model => model.Seller)
                </h5>
                @Html.DisplayFor(model => model.Seller.Fname)
                @Html.DisplayFor(model => model.Seller.Lname)
            </div>
        </div>
        <div class="mt-4">
            <a href="/Customer" class="btn btn-secondary me-1">Back to Mainpage</a>
            <button class="btn btn-success">
                Add to Cart
                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
            </button>
        </div>
    </div>
</div>
