@model IEnumerable<MusicStoreMVCApp.OrderMovie>

@{
    ViewBag.Title = "Order History";
}

<div class="p-5">
    <h2 class="mb-3">Orders</h2>
    <div class="mb-5">
        @if (ViewBag.Status == "shipping")
        {
            <a href="/Customer/OrderHistory?orderStatus=pending" class="btn btn-secondary me-3 mb-1">Pending</a>
            <a href="/Customer/OrderHistory?orderStatus=shipping" class="btn btn-warning me-3 mb-1">Shipping</a>
            <a href="/Customer/OrderHistory?orderStatus=delivered" class="btn btn-secondary mb-1">Delivered</a>
        }
        else if (ViewBag.Status == "delivered")
        {
            <a href="/Customer/OrderHistory?orderStatus=pending" class="btn btn-secondary me-3 mb-1">Pending</a>
            <a href="/Customer/OrderHistory?orderStatus=shipping" class="btn btn-secondary me-3 mb-1">Shipping</a>
            <a href="/Customer/OrderHistory?orderStatus=delivered" class="btn btn-warning mb-1">Delivered</a>
        }
        else
        {
            <a href="/Customer/OrderHistory?orderStatus=pending" class="btn btn-warning me-3 mb-1">Pending</a>
            <a href="/Customer/OrderHistory?orderStatus=shipping" class="btn btn-secondary me-3 mb-1">Shipping</a>
            <a href="/Customer/OrderHistory?orderStatus=delivered" class="btn btn-secondary mb-1">Delivered</a>
        }
    </div>

    @foreach (var order in Model.GroupBy(model => model.Order))
    {
        double price = 0;

        <div class="card mb-4">
            <div class="card-header">
                <span class="fw-bold">Order ID: </span>
                @order.Key.Id
            </div>
            <div class="card-body p-4">
                <div class="card-text d-flex justify-content-between mb-3">
                    <div class="fw-bold">Order Placed On</div>
                    <div>@order.Key.Date.Value.ToShortDateString()</div>
                </div>
                @foreach (OrderMovie orderItem in order)
                {
                    <div class="d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <img src="@orderItem.Movie.ImageUrl" width="200" />
                        <div class="d-flex">
                            <p class="card-text me-3">RM @orderItem.UnitPrice</p>
                            <p class="card-text">x @orderItem.Quantity</p>
                        </div>
                    </div>
                    price += orderItem.UnitPrice * orderItem.Quantity;
                }
                <div class="card-text d-flex justify-content-between">
                    <p class="fw-bold my-auto">Total</p>
                    <p>RM @price</p>
                </div>
                <div class="card-text d-flex justify-content-between">
                    <p class="fw-bold my-auto">Status</p>
                    @if (order.Key.Status == "pending")
                    {
                        <p class="text-warning">@char.ToUpper(order.Key.Status[0])@order.Key.Status.Substring(1)</p>
                    }
                    else if (order.Key.Status == "shipping")
                    {
                        <p class="text-info">@char.ToUpper(order.Key.Status[0])@order.Key.Status.Substring(1)</p>
                    }
                    else if (order.Key.Status == "delivered")
                    {
                        <p class="text-success">@char.ToUpper(order.Key.Status[0])@order.Key.Status.Substring(1)</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
