@model MusicStoreMVCApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-floating mb-3">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="dropdown mb-3">
        @Html.LabelFor(m => m.UserType, new { @class = "ms-1 mb-1" })
        @Html.DropDownListFor(m => m.UserType, new SelectList(Enum.GetValues(typeof(MusicStoreMVCApp.Models.UserType))), new { @class = "form-select" })
    </div>
    <div class="form-floating mb-3">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-floating mb-3">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
